

    <div ng-controller="ProductCtrl as pc">
        <div class="jumbotron">
            <h3>Vista prodotti</h3>
            <p class="pull-right">... lista dei prodotti gestiti o gestibili </p>
        </div>

        <div>
            <div class="form-group">
                <h3>
                    Prodotti
                    <a ng-href="/#/product/create" class="btn btn-primary pull-right" id="btn_product_create">Add Entry</a>
                </h3>
                <hr>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" ng-model="searchText.$" placeholder="Type here to filter product entries...">
                <hr>
            </div>


            <table id="product_list" class="table table-striped">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th ng-click="pc.sort('name')">Nome
                        <span class="glyphicon sort-icon" ng-show="pc.sortKey=='name'" ng-class="{'glyphicon-chevron-up':pc.sortReverse,'glyphicon-chevron-down':!pc.sortReverse}"></span>
                    </th>
                    <th ng-click="pc.sort('description')">Descrizione
                        <span class="glyphicon sort-icon" ng-show="pc.sortKey=='description'" ng-class="{'glyphicon-chevron-up':pc.sortReverse,'glyphicon-chevron-down':!pc.sortReverse}"></span>
                    </th>
                    <th>Categoria</th>
                    <th>Tipo Ordine</th>
                    <th>Produttore</th>
                    <th>Distributore</th>
                    <th>Codice</th>
                    <th>Codice Interno</th>
                    <th>Confezionamento</th>
                    <th>Elementi per conf</th>
                    <th>Soglia riordino</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>&nbsp;</td>
                    <td><input class="form-control" type="text" ng-model="searchText.name" placeholder="Filter.."></td>
                    <td><input class="form-control" type="text" ng-model="searchText.description" placeholder="Filter.."></td>
                    <td><input class="form-control" type="text" ng-model="searchText.category.shortName" placeholder="Filter.."></td>
                    <td><input class="form-control" type="text" ng-model="searchText.orderedThrough" placeholder="Filter.."></td>
                    <td><input class="form-control" type="text" ng-model="searchText.producer" placeholder="Filter.."></td>
                    <td><input class="form-control" type="text" ng-model="searchText.distributor" placeholder="Filter.."></td>
                    <td><input class="form-control" type="text" ng-model="searchText.code" placeholder="Filter.."></td>
                    <td><input class="form-control" type="text" ng-model="searchText.internalCode" placeholder="Filter.."></td>
                    <td><input class="form-control" type="text" ng-model="searchText.packaging" placeholder="Filter.."></td>
                    <td><input class="form-control" type="text" ng-model="searchText.itemsPerPackage" placeholder="Filter.."></td>
                    <td><input class="form-control" type="text" ng-model="searchText.reorderThreshold" placeholder="Filter.."></td>
                    <td>&nbsp;</td>
                </tr>
                <tr ng-repeat="product in pc.products | filter:searchText | orderBy:pc.sortKey:pc.sortReverse">
                    <td>
                        <a ng-href="/#/stock/{{product._id}}" class="btn btn-success pull-right" id="btn_product_stock">Giacenza</a>
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.category.shortName }}</td>
                    <td>{{ product.orderedThrough }}</td>
                    <td>{{ product.producer }}</td>
                    <td>{{ product.distributor }}</td>
                    <td>{{ product.code }}</td>
                    <td>{{ product.internalCode }}</td>
                    <td>{{ product.packaging }}</td>
                    <td>{{ product.itemsPerPackage }}</td>
                    <td>{{ product.reorderThreshold }}</td>
                    <td>
                        <a ng-href="/#/product/edit/{{product._id}}" class="btn btn-success pull-right" id="btn_product_update">Modifica</a>
                    </td>
                </tr>
                <tr ng-hide="pc.products.length">
                    <td colspan="3">
                        <p class="text-center">Nessun prodotto trovato</p>
                    </td>
                </tr>
                </tbody>
            </table>

            <h3>
                Debug
            </h3>
            <hr>
            <accordion>
                <accordion-group is-open="status.open">
                    <accordion-heading>
                        Json Data <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </accordion-heading>
                    <pre>{{ pc.products | json }}</pre>
                </accordion-group>
            </accordion>
        </div>

    </div>
